{% extends "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Snow Melting System</title>

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
{% block body %}
    <body>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/mqtt.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/justgage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/guage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/raphael-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/current_weather.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/toggle.js') }}"></script>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="{{ url_for('static', filename='css/toggle.css') }}"
          rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <div class="container">
        <div> <!--Header -->
            <div class="row">
                <div class="col-md-3 col-md-offset-3"><a href="#"><img height="150px"
                                                                       src="{{ url_for('static',filename='images/logo2.png') }}"/></a>
                </div>
                <div class="col-md-6">
                    <h3>Your location</h3>
                    <div class="col-md-12"><h4>Country: <span id="country"></span><br/>Latitude: <span
                            id="latitude"></span>
                        &nbsp;&nbsp; Longitude: <span id="longitude"></span></h4>
                    </div>
                    <script>
                        $.getJSON('https://geoip-db.com/json/geoip.php?jsonp=?')
                            .done(function (location) {
                                $('#country').html(location.country_name);
                                $('#state').html(location.state);
                                $('#city').html(location.city);
                                $('#latitude').html(location.latitude);
                                $('#longitude').html(location.longitude);
                                $('#ip').html(location.IPv4);
                            });
                    </script>


                </div>
            </div>


            <content> <!--Content -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-4">
                                <p id="demo"></p>
                                <h3>Last update time: <h4 id="date"></h4></h3>
                            </div>
                            <!-- Real time begin -->
                            <div class="col-md-12" style="background-color: white;">
                                <div class="col-md-6" style="background-color:lavender; height: 180px;">
                                    <div id="g1">Temperature</div>
                                </div>
                                <div class="col-md-6" style="background-color:lavenderblush; height: 180px">
                                    <div id="g2">Humidity</div>
                                </div>
                                <div class="col-md-6" style="background-color:lightgreen; height: 180px">
                                    <div id="g22">Wind speed</div>
                                </div>
                                <br/></div>
                            <!-- Real time end -->
                            <!--Historical part begin-->
                            <div class="col-md-12" style="background-color: white;"><br/>
                                <select multiple class="form-control">
                                    {% for item in range(8) %}
                                        <option><br/> Loreum is ooop Loreum is ooop Loreum is ooop Loreum is ooop Loreum
                                            is ooop
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                            <!--Historical part end-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <iframe
                                margin-left="50"
                                width="600"
                                height="450"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC_m6Yj9X8ain5tMsBxQuOIY9q0aqZQ4XA
						&q=Chungju" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </content> <!--Content end-->

            <footer>
                <div class="row">
                    <div class="col-md-8 "><br/>
                        <table class="table" border="3" width="100%" cellpadding="4" cellspacing="3">
                            <tr>
                                <th colspan="3">
                                    <h3><br>Heating Duration</h3>
                                </th>
                            </tr>
                            <tr align="center">
                                <th>Heating on time</th>
                                <th>Heating off time</th>
                                <th>Calculated time</th>
                            </tr>
                            {% for item in heating_history %}
                                <tr align="CENTER">
                                    <td>{{ item.heating_start_time }}</td>
                                    <td>{{ item.heating_end_time }}</td>
                                    <td>{{ item.calculated_heating_time }}</td>
                                </tr>
                            {% endfor %}

                        </table>

                    </div>

                    <div class="col-sm-4" style="background-color:lavender; height: 180px">
                        <div style="text-align: center;">Heating:</div>
                        <p id="test">Turn On</p>
                        <p style="display: none">Turn Off</p>

                        <label for="toggle-event_1"></label><input id="toggle-event_1" type="checkbox"
                                                                   data-toggle="toggle">
                        <h1 id="console-event"></h1>
                    </div>
                </div>
            </footer>


            <!-- Required for google map -->
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_m6Yj9X8ain5tMsBxQuOIY9q0aqZQ4XA&callback=initMap">
            </script>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="../assets/js/bootstrap.min.js"></script>


        </div>
    </div>

    </body>
{% endblock %}
